<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="Freshdesk PHP SDK API v2">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
        <log type="coverage-html" target="build/test-coverage"/>
        <log type="coverage-clover" target="build/test-results/clover.xml"/>
        <log type="coverage-crap4j" target="build/test-results/crap4j.xml"/>
        <log type="junit" target="build/test-results/junit.xml"/>
    </logging>

    <!-- Ignore vendor tests in code coverage reports -->
    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
</phpunit>
